<li class="green darken-3 yellow-text text-darken-3 z-depth-3 collection-item">
	{{burger_name}} {{#unless devoured}}
	<div class="eat-btn">
		<button class="btn-small btn-floating waves-effect waves-yellow pulse eat-burger tooltipped" data-position="right" data-tooltip="Eat this burger..."
		 data-id="{{id}}">Eat</button>
	</div>
	{{/unless}}


</li>